<p-selectButton
  [options]="stateOptions"
  [(ngModel)]="selectedOption"
  optionLabel="label"
  optionValue="value"
  (onChange)="onOptionChange()">
</p-selectButton>


<ng-container *ngIf="selectedOption === 'trails'">
  <h3 class="mt-4">My Trails</h3>

  <div *ngFor="let trail of myTrails" class="card mb-3 p-3">
    <h3 class="text-xl font-bold">{{ trail.trailName }}</h3>
        <p><strong>Location:</strong> {{ trail.location }}</p>
        <p><strong>Length:</strong> {{ trail.lengthKm }} km</p>
        <p><strong>Duration:</strong> {{ trail.duration }}</p>
        <p><strong>Difficulty:</strong> {{ trail.difficulty }}</p>
        <p><strong>Description:</strong> {{ trail.description }}</p>

        <div class="flex gap-2">
          <button pButton label="Reviews" (click)="getReviews(trail.id!)"></button>
          <button *ngIf="userService.getRole() === 'ROLE_ADMIN' || userService.getUser() === trail.email"
                  pButton label="Delete" class="p-button-danger"
                  (click)="deleteTrail(trail.id!)"></button>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="selectedOption === 'reviews'">
  <h3 class="mt-4">My Reviews</h3>

  <div *ngFor="let review of myReviews" class="card mb-3 p-3">
    <p><strong>Rating:</strong> {{ review.rating }}</p>
    <p>{{ review.trailId }}</p>
    <p>{{ review.comment }}</p>
    <button
                    *ngIf="userService.getRole() === 'ROLE_ADMIN' || userService.getUser() === review.userEmail"
                    pButton label="Delete" class="p-button-danger"
                    (click)="deleteReview(review.id!)">
                </button>
  </div>
</ng-container>
